@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&family=Poppins:wght@300;400;500;600;700;800;900&family=Young+Serif&display=swap');

*{
    font-family: 'Poppins';
}
.mySlides{
    display: none;
}
nav{
    /* background: transparent; */
    background: #bbdefb;
    /* height: 150px; */
}
h1{
    font-weight: 500;
}
p{
    font-family: 'Playpen Sans';
}
.inside{
    background: url(ph/pexels-krisia-902288.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.brand-logo{
    margin-left: 30px;
}

.right>li>a{
    margin-right: 50px;
}
.divider,.lists{
    margin-top: 100px;
    margin-bottom: 100px;
    border: 1px #f5f5f5;
}

.service>ul>li>a{
    margin-left: 60px;
    justify-content: space-between;
}

.fa-calendar-days,.fa-clock,.fa-location-dot,.fa-users{
    font-size: 20px;
}